@using MvcLocalization.LocalizationResources.Views.Home
@{
    ViewBag.Title = HomeStrings.AboutTitle;
}

<hgroup class="title">
    <h1>@HomeStrings.AboutTitle</h1>
</hgroup>

<article>
    <p>
        @HomeStrings.AboutMessage
    </p>
</article>