@using MvcLocalization.LocalizationResources.Views.Home
@{
    ViewBag.Title = HomeStrings.Title;
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@HomeStrings.Title</h1>
            </hgroup>
        </div>
    </section>
}

